pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.13.3
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libdrm
	depends = libxkbcommon
	depends = mesa
	depends = dbus
	depends = hicolor-icon-theme
	options = !strip
	source_x86_64 = openwork-0.13.3-x64.tar.gz::https://github.com/different-ai/openwork/releases/download/v0.13.3/openwork-linux-x64-0.13.3.tar.gz
	sha256sums_x86_64 = 35b4a2da4b09ada2ea5bb0495f0be0129989625f26c4efc018d0faf149b51adc
	source_aarch64 = openwork-0.13.3-arm64.tar.gz::https://github.com/different-ai/openwork/releases/download/v0.13.3/openwork-linux-arm64-0.13.3.tar.gz
	sha256sums_aarch64 = f3cc306bc7cf30537dacdc468d59e516d39f96466cec83d181101cd6c1f3d02d

pkgname = openwork
