pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.122
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.122.deb
	source_x86_64 = openwork-0.11.122.deb::https://github.com/different-ai/openwork/releases/download/v0.11.122/openwork-desktop-linux-amd64.deb
	sha256sums_x86_64 = bbba59b33fc50e4f68ce996c8079e9b0ea3ab1cfc98b1de3454c439e0923a472
	source_aarch64 = openwork-0.11.122.deb::https://github.com/different-ai/openwork/releases/download/v0.11.122/openwork-desktop-linux-arm64.deb
	sha256sums_aarch64 = 8210604ed36c23765b613ac55bf1bc6594401fb1a6c629931f0058855c58364c

pkgname = openwork
