pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.62
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.62.deb
	source = openwork-0.11.62.deb::https://github.com/different-ai/openwork/releases/download/v0.11.62/openwork-desktop-linux-amd64.deb
	sha256sums = a23366e31fce698de383ef6adc4d1493a8524c65286d5a9e0e15ad20896b0a25

pkgname = openwork
